<div id="appCapsule">

  <app-titulo>
    <p titulo>Reuniones sin leer: {{cantidad$ | async}}</p>
  </app-titulo>

  <div class="section inset mt-2">

    <div class="accordion" id="accordionExample2"  *ngIf="(detallesReunion$ | async)!.length>0; else nada">
      <div *ngFor="let reunion of (detallesReunion$ | async); let i = index"
      [ngClass]="{'accordion-item': true, 'accordion-item-noleido': reunion.leido === 0 }">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#accordion' + i">
                <span class="fecha">
                    {{reunion?.titulo}} ({{reunion?.respuesta_status}}) -
                </span>
                <span class="titulo">
                  {{reunion?.alumno}}
                </span>
          </button>
        </h2>
        <div [id]="'accordion' + i" class="accordion-collapse collapse" data-bs-parent="#accordionExample2" (hidden.bs.collapse)="marcarLeido(reunion)">
           <div class="accordion-body" style="text-align: left;">
            <h4 class="subtitle" [innerHTML]="decodeHtml(reunion.mensaje)"></h4>
            <h4 class="subtitle">Usuario: {{reunion?.respuesta_usuario}}</h4>
          </div>
        </div>
      </div>
    </div>

    <ng-template #nada>
      <div class="accordion" id="accordionExample2">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#accordion'">
              Nada para mostrar
            </button>
          </h2>
        </div>
      </div>
    </ng-template>
  </div>
</div>

