<div class="section mt-1 mb-1">
    
  <div class="section mt-1 mb-1">
    <label for="destinatarios">Destinatarios:</label>
    <div class="custom-combobox">
      <ul class="combobox-list">
        <!-- Iteramos sobre los cursos y sus alumnos -->
        <ng-container *ngFor="let curso of cursos">
          <!-- Curso como etiqueta (no seleccionable) -->
          <li class="combobox-item curso">{{ curso.nombre }}</li>
          
          <!-- Alumnos del curso -->
          <li *ngFor="let alumno of alumnos[curso.id]"
              (click)="toggleAlumnoSeleccionado(alumno.id)"
              [class.selected]="alumnosSeleccionados.includes(alumno.id)"
              class="combobox-item alumno">
            {{ alumno.nombre }}
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  
  
  <div class="section mt-1 mb-1">
    
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" [(ngModel)]="titulo" class="form-control" placeholder="Título">
  </div>
  
  <div class="section mt-1 mb-1">
    
    <label for="inicio">Inicio:</label>
    <input type="date" id="inicio" [(ngModel)]="fechaInicio" class="form-control">
    
    
    <label for="fin" class="ms-2">Finalización:</label>
    <input type="date" id="fin" [(ngModel)]="fechaFin" class="form-control">
  </div>
  
  <div class="section mt-1 mb-1">
    <label for="editor">Comunicado:</label>
    <div #editor style="height: 300px;"></div> 
  </div>
  
  <div class="section mt-1 mb-1 text-center">
    <label for="file-upload" class="custom-file-upload d-inline-flex align-items-center justify-content-center">
      <ion-icon name="document-outline"></ion-icon> Subir Archivo(s)
    </label>
    <input type="file" id="file-upload" (change)="onFileSelected($event)" />
  </div>
  
  
  
  
  <div class="section mt-1 mb-1 d-flex justify-content-between">
    <button class="btn btn-primary rounded" (click)="enviarDifusion()">Enviar</button>
    <button class="btn btn-danger rounded" (click)="cancelar()">Cancelar</button>
  </div>
  