<div id="appCapsule">
  <app-titulo>
    <p titulo>Notificaciones</p>
  </app-titulo>

    <div class="section mt-2" >
      <app-spinner #appSpinner></app-spinner>
        <div class="container" *ngIf="!(appSpinner.spinnerCargando | async)">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <a (click)="navegarNotificacion('entrevistas')">
                    <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                        <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.entrevistas">{{(notificaciones$|async)?.entrevistas}}</span>
                        <ion-icon name="mic-outline"></ion-icon>
                        <h6 class="text-center text-light">Entrevistas</h6>
                    </div>
                    </a>
                </div>
                <div class="col">
                  <a (click)="navegarNotificacion('avisos')">
                    <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                        <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.avisos">{{(notificaciones$|async)?.avisos}}</span>
                        <ion-icon name="notifications-outline"></ion-icon>
                        <h6 class="text-center text-light">Avisos</h6>
                    </div>
                    </a>
                </div>
                <div class="col">
                  <a (click)="navegarNotificacion('familiares')">
                    <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                        <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.familiares">{{(notificaciones$|async)?.familiares}}</span>
                        <ion-icon name="people-outline"></ion-icon>
                        <h6 class="text-center text-light">Situciones Familiares</h6>
                    </div>
                    </a>
                </div>
                <div class="col">
                  <a (click)="navegarNotificacion('pedagogicas')">
                    <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                        <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.pedagogicas">{{(notificaciones$|async)?.pedagogicas}}</span>
                        <ion-icon name="eye-outline"></ion-icon>
                        <h6 class="text-center text-light">Observaciones Pedagogicas</h6>
                    </div>
                    </a>
                </div>
                <div class="col">
                  <a (click)="navegarNotificacion('sanciones')">
                    <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                        <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.sanciones">{{(notificaciones$|async)?.sanciones}}</span>
                        <ion-icon name="warning-outline"></ion-icon>
                        <h6 class="text-center text-light">Sanciones</h6>
                    </div>
                    </a>
                </div>
                <div class="col">
                  <a (click)="navegarNotificacion('faltas')">
                    <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                        <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.faltas">{{(notificaciones$|async)?.faltas}}</span>
                        <ion-icon name="warning-outline"></ion-icon>
                        <h6 class="text-center text-light">Faltas</h6>
                    </div>
                    </a>
                </div>
                <div class="col">
                  <a (click)="navegarNotificacion('documentacion')">
                  <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                      <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.documentacion">{{(notificaciones$|async)?.documentacion}}</span>
                      <ion-icon name="reader-outline"></ion-icon>
                      <h6 class="text-center text-light">Documentación</h6>
                  </div>
                  </a>
              </div>
              <div class="col">
                <a (click)="navegarNotificacion('retiros')">
                <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                    <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.avisos_retiro">{{(notificaciones$|async)?.avisos_retiro}}</span>
                    <ion-icon name="time-outline"></ion-icon>
                    <h6 class="text-center text-light">Aviso Retiros</h6>
                </div>
                </a>
              </div>
              <div class="col">
                <a (click)="navegarNotificacion('reuniones')">
                <div class="p-3 border bg-primary card text-center iconedbox iconedbox-xxl">
                    <span class="badge badge-danger" *ngIf="(notificaciones$|async)?.rta_solicitudes_reunion">{{(notificaciones$|async)?.rta_solicitudes_reunion}}</span>
                    <ion-icon name="people-circle-outline"></ion-icon>
                    <h6 class="text-center text-light">Solicitud Reuniones</h6>
                </div>
                </a>
              </div>
            </div>
        </div>
    </div>
</div>
