.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa; /* Fondo suave para el header */
  padding: 15px;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
}

.modal-body {
  padding: 20px;
  background-color: #ffffff;
}

.btn-group {
  display: flex;
  justify-content: center; /* Centrar los botones */
  margin-bottom: 20px;
}

.btn-group .btn {
  margin: 0 10px; /* Espaciado entre los botones */
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  resize: none;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #dee2e6;
}

.modal-footer .btn {
  width: 80px; 
}

.btn {
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
  background-color: #5618bb;
  border-color: #5618bb;
  color: white;
  border-radius: 25px;

}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
  border-radius: 25px;
}

.btn-close {
  border: none;
  background: none;
  font-size: 20px;
  color: #6c757d;
}

textarea:focus, input:focus {
  border-color: #5618bb;
  outline: none;
  box-shadow: 0 0 5px rgba(0,123,255,.25);
}

@media (max-width: 768px) {
  .modal-body, .modal-footer {
    flex-direction: column;
  }

  .btn-group {
    flex-direction: column;
  }

  .btn-group .btn {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 20px;
  }

  .modal-footer .btn {
    width: 100%;
  }
}

