.accordion-item {
  border: none;
  margin-bottom: 0px;
}

.accordion-header {
  padding: 10px 15px;
}

.accordion-button {
  background-color: #fff;
  border: none;
  box-shadow: none;
  padding: 15px 25px; 
}

.accordion-body {
  padding: 10px 15px;
}

.comment-block {
  padding: 10px;
  border-radius: 10px;
}

.barra {
  height: 1rem;
  background-color: #0d6efd;
  color: white;
  text-align: center;
}

.barra span.leyenda {
  font-size: 0.75rem;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.list-group-item{
  background-color: transparent;
}

li {
  border: none;
}
