<div class="modal fade dialogbox show" id="DialogBasic" tabindex="-1" role="dialog" aria-modal="true" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-icon">
        <ion-icon name="information-circle-outline" role="img" class="md hydrated" aria-label="bluetooth outline"></ion-icon>
      </div>
      <form  [formGroup]="formulario" (ngSubmit)="reprogramar()">
      <div class="modal-body" >

          <!-- inicio alumnos buscados -->
          <div class="section inset mt-2">
              <div class="section full">
                Reprogramar Reunion de: {{reunion.alumno}}
                <div class="small text-muted">Fecha: {{reunion.propuesta_reunion}}</div>
              </div>
          </div>



       <!-- inicio COMUNICADOOOO -->
          <div class="section inset mt-2">
            <div class="section full">
                <div class="wide-block pb-1 pt-2">
                        <div class="form-group boxed">
                            <div class="input-wrapper">
                                <label class="form-label">Titulo de la Reunion</label>
                                <input type="texto" class="form-control" id="titulo" name="titulo" placeholder=""
                                    autocomplete="off" formControlName="titulo">

                            </div>
                            <app-error-formularios [control]="formControls('titulo')" fieldName="Titulo"></app-error-formularios>
                        </div>

                        <div class="form-group boxed">
                            <div class="input-wrapper">
                                <label class="form-label" for="message" ></label>
                                <div class="form-control-mensaje" contenteditable="true" [innerHTML]="this.formControls('descripcion').value" (input)="capturarTexto($event)"></div>
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                            <app-error-formularios [control]="formControls('descripcion')" fieldName="Descripcion"></app-error-formularios>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group boxed">
                              <div class="input-wrapper">
                                  <label class="form-label">Nueva Fecha</label>
                                  <input type="date" class="form-control" id="fecha" name="fecha" placeholder=""
                                      autocomplete="off" formControlName="fecha" #fecha (change)="seleccionFecha(fecha.value)">
                              </div>
                              <app-error-formularios [control]="formControls('fecha')" fieldName="Fecha" ></app-error-formularios>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-group boxed">
                              <div class="input-wrapper">
                                  <label class="form-label">Nueva hora</label>
                                  <input type="time" class="form-control" id="hora" name="hora" placeholder=""
                                      autocomplete="off" formControlName="hora" #hora (change)="seleccionHora(hora.value)">
                              </div>
                              <app-error-formularios [control]="formControls('hora')" fieldName="Hora"></app-error-formularios>
                            </div>
                          </div>
                        </div>
                </div>

            </div>

          </div>

      <!-- inicio Boton -->



      </div>
      <div class="modal-footer">
        <div class="btn-inline">
          <button class="btn btn-text-primary" type="submit">Enviar</button>
          <button class="btn btn-text-secondary" (click)="activeModal.close()">CERRAR</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

