.notificacion {
    top: 10px; /* Ajusta la posición según tus necesidades */
    z-index: 1000; /* Colócalo en una capa superior */
  }

.notificacionContainer{
    z-index: 1000;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: auto; 
}