<div id="appCapsule">

  <app-titulo>
    <p titulo>Retiros sin leer: {{cantidad$ | async}}</p>
  </app-titulo>

  <div class="section inset mt-2">

    <div class="accordion" id="accordionExample2" *ngIf="(detallesRetiro$ | async)!.length>0; else nada">
      <div *ngFor="let retiro of (detallesRetiro$ | async)!; let i = index"
      [ngClass]="{'accordion-item': true, 'accordion-item-noleido': retiro.leido === 0 }">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#accordion' + i">
                  <span class="fecha">
                    {{retiro?.fecha_generacion}}
                </span>
                <span class="titulo">
                  {{retiro?.alumno}}
                </span>
          </button>
        </h2>
        <div [id]="'accordion' + i" class="accordion-collapse collapse" data-bs-parent="#accordionExample2" (hidden.bs.collapse)="marcarLeido(retiro)">
           <div class="accordion-body" style="text-align: left;">
            <h4 class="subtitle">Autorizado: {{retiro?.persona_autorizada}}</h4>
            <h4 class="subtitle">DNI: {{retiro?.dni_persona_autorizada}}</h4>
            <h4 class="subtitle">Vinculo: {{retiro?.vinculo_persona_autorizada}}</h4>
            <h4 class="subtitle">Foto: {{retiro?.foto_persona_autorizada}}</h4>
            <h4 class="subtitle">Detalle: {{retiro?.detalle}}</h4>
          </div>
        </div>
      </div>
    </div>

    <ng-template #nada>
      <div class="accordion" id="accordionExample2">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#accordion'">
              Nada para mostrar
            </button>
          </h2>
        </div>
      </div>
    </ng-template>
  </div>
</div>
