#appCapsule {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

table {
  width: 100%; 
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
}

.yellow-background {
  background-color: #f9c74f;
  color: white;
}

.green-background {
  background-color: #90be6d;
  color: white;
}

.red-background {
  background-color: #f94144;
  color: white;
}

.btn {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.mat-icon-button {
  color: #007bff;
}

@media (max-width: 600px) {
  table {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }
}
