<div id="appCapsule">

  <app-titulo>
    <p titulo>Pedagógicas sin leer: {{cantidad$ | async}}</p>
  </app-titulo>

  <div class="section inset mt-2">

    <div class="accordion" id="accordionExample2" *ngIf="(detallesPedagogico$ | async)!.length>0; else nada">
      <div *ngFor="let pedagogica of (detallesPedagogico$ | async)!; let i = index"
      [ngClass]="{'accordion-item': true, 'accordion-item-noleido': pedagogica.leido === 0 }">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#accordion' + i">
                  <span class="fecha">
                    {{pedagogica?.fecha}}
                </span>
                <span class="titulo">
                  {{pedagogica?.alumno}}
                </span>
          </button>
        </h2>
        <div [id]="'accordion' + i" class="accordion-collapse collapse" data-bs-parent="#accordionExample2" (hidden.bs.collapse)="marcarLeido(pedagogica)">
           <div class="accordion-body" style="text-align: left;">
            <h4 class="subtitle">Autor: {{pedagogica?.registro}}</h4>
            <h4 class="subtitle">Descripción: {{pedagogica?.descripcion}}</h4>
          </div>
        </div>
      </div>
    </div>

    <ng-template #nada>
      <div class="accordion" id="accordionExample2">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#accordion'">
              Nada para mostrar
            </button>
          </h2>
        </div>
      </div>
    </ng-template>
  </div>
</div>

