<div id="appCapsule">

  <app-titulo>
    <p titulo>Sanciones sin leer: {{cantidad$ | async}}</p>
  </app-titulo>

  <div class="section inset mt-2">

    <div class="accordion" id="accordionExample2"  *ngIf="(detallesSancion$ | async)!.length>0; else nada">
      <div *ngFor="let sancion of (detallesSancion$ | async); let i = index"
      [ngClass]="{'accordion-item': true, 'accordion-item-noleido': sancion.leido === 0 }">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#accordion' + i">
                <span class="fecha">
                    {{sancion?.fecha}}<br>({{sancion?.tipo}})
                </span>
                <span class="titulo">
                  {{sancion?.alumno}}
                </span>
          </button>
        </h2>
        <div [id]="'accordion' + i" class="accordion-collapse collapse" data-bs-parent="#accordionExample2" (hidden.bs.collapse)="marcarLeido(sancion)">
           <div class="accordion-body" style="text-align: left;">
            <h4 class="subtitle">Detalle: {{sancion?.tipo_detalle}}</h4>
            <h4 class="subtitle">Descripción: {{sancion?.descripcion}}</h4>
            <h4 class="subtitle">Autor: {{sancion?.autor}}</h4>
          </div>
        </div>
      </div>
    </div>

    <ng-template #nada>
      <div class="accordion" id="accordionExample2">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#accordion'">
              Nada para mostrar
            </button>
          </h2>
        </div>
      </div>
    </ng-template>
  </div>
</div>
