<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col"></th>
          <th scope="col">APELLIDO</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">DNI</th>
          <th scope="col">INASISTENCIAS</th>
      </tr>
  </thead>
  <app-spinner #appSpinner></app-spinner>
  <tbody *ngIf="!(appSpinner.spinnerCargando | async)">
      <tr *ngFor="let alumno of alumnos$ | async">
          <td class="align-middle">
            <img class="avatar-image" [src]="alumno.avatar" alt="avatar">
          </td>
          <td class="align-middle">{{alumno.apellido}}</td>
          <td class="align-middle">{{alumno.nombre}}</td>
          <td class="align-middle">{{alumno.dni}}</td>
          <td class="align-middle">{{alumno.inasistencias}}</td>
      </tr>
  </tbody>
</table>
