.message-item .footer {
  font-size: 12px;
  padding: 0 0px;
  text-align: right;
  line-height: 1em;
  margin-top: 5px;
  color: #000000;
  opacity: 0.4;
  height: 14px;
}

.message-item.user .footer {
  font-size: 12px;
  padding: 0 0px;
  text-align: right;
  line-height: 1em;
  margin-top: 5px;
  color: #ffffff;
  opacity: 0.4;
  height: 14px;
}

.avatar-circle {
  width: 40px; /* Ajusta el tamaño del círculo según tus necesidades */
  height: 40px; /* Ajusta el tamaño del círculo según tus necesidades */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Color del texto dentro del círculo */
  font-weight: bold; /* Ajusta el peso de la fuente según tus necesidades */
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
  background-color: #53AAC6;
}

.scrollContainer {
  height: calc(100vh - 60px);
  overflow-y: auto;
}
